*{font-family: 'PT Serif', serif;}


.cell {
    width: 90px;
    height: 90px;
    float: left;
    margin: 2px;
    text-align: center;
    font: bold 40px sans-serif;
    line-height: 100px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #0c0c0c;
}

#site{
    position: relative;
    background: #1a1a1a;
}

.content{
    color: #f5eeee;
    background: #1a1a1a;
}

.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    z-index: 100;
    padding: 10px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

a {
    text-decoration: none;
    color: darkcyan;

}

/*
    HEADER
 */

#site {
    color: blueviolet;
    height: 57px;
}

#site h1{
    margin-top: 2px;

}

#site h1 a{
    color: blueviolet;
    padding-left: 90px;
}

/*
цвет ссылки при наведении
#site h1 a:hover{
    color: blueviolet;
}
*/


#site ul{
    margin: 0;
    padding: 0;
    list-style-type: none; /*убрать точки перед ссылками*/
    float: right;


}

#site ul li {
    float: left;

}

#site ul li a{
    display: block;
    font-size: 1.53rem;
    text-decoration: none;
    color: darkcyan;
    padding: 10px;

}

#site ul li a:hover {
    background: #312f2f;
    transition: 0.5s;
    color: darkcyan;
}

#site ul li ul {
    position: absolute;
    top: 57px;
    width: 173px;
    display: none;
    z-index: 111;
    float: right;
}

#site ul li:hover ul {
    display: block;
}

#site ul li ul li {
    width: 100%;
}

#site ul li ul li a {
    background: #1a1a1a;

}

#main {
    position: relative;
    background: #ded5d5;
    color: black;
    min-height: 700px;
}


#footer {
    position: relative;
    background: #1a1a1a;
    color: blueviolet;

}

.footer .footer-section {
    padding-top: 40px;
    padding-left: 100px;
}

#footerAbout .contacts span{
    display: block;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

#footerAbout .socials a {
    border: 1px solid gray;
    width: 41px;
    height: 37px;
    padding-top: 3px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3rem;
    border-radius: 6px;
    transition: all .3s;
    color: blueviolet;
}

#footerAbout .socials a:hover {
    border: 1px solid white;
    color: white;
    transition: all .3s;
}

#footerLinks ul a {
    display: block;
    margin-bottom: 8px;
    font-size: 1.1rem;
    transition: all .3s;
    color: blueviolet;
    text-decoration: none;
}

#footerLinks ul a:hover {
    color: #ded5d5;
    margin-left: 15px;
    transition: all .3s;
}
.footer-bottom {

    background: #151414;
    width: 100%;
    height: 50px;
    padding-top: 20px;
    color: blueviolet;
    text-align: center;

}

/*
Registration
 */

.reg_form {
    background: #ded5d5;

}

.reg_form label {
    font-size: 1.5rem;
    color: #1a1a1a;
    height: 1.5rem;
}

.reg_form h2 {
    text-align: center;

}

.reg_form a {
    font-size: 1.2rem;
    transition: all .3s;
    color: #5c5b5b;
    text-decoration: none;
    margin-left: 60px;
}

.reg_form a:hover {
    margin-left: 55px;
    transition: all .3s;
}

/*
Registration
 */


/*
PVK
 */

#main-pvk{

    min-height: 700px;
    position: relative;
    background: #ded5d5;
}

/*
PVK
 */



/*
Expert
 */

#main-expert {
    padding-top: 70px;
    min-height: 700px;
    position: relative;
    background: #ded5d5;
}

#expert-button ul {
    margin-bottom: 1px;
    border-radius: 36px;
    list-style-type: none;
    background: #ded5d5;
    font-size: 30px;
    padding: 0;
}

#expert-button ul li{
    border-radius: 36px;
    background: #1a1a1a;
    text-align: center;
    margin-bottom: 1px;
}

#expert-button ul a{
    display: block;
    color: blueviolet;
    padding: 20px;
}


#expert-button ul a:hover {
    background: #2f2e2e;
    transition: 0.01s;
    color: blueviolet;
    border-radius: 36px;

}


/*
Expert
 */


/*
Admin
 */

#main-admin {
    padding-top: 70px;
    min-height: 700px;
    position: relative;
    background: #ded5d5
}


#admin-button .c-button {
    margin-bottom: 1px;
    border-radius: 36px;
    list-style-type: none;
    background: #1a1a1a;
    font-size: 30px;
    text-align: center;
    display: block;
    width: 100%;
    color: blueviolet;
    padding: 20px;


}
#admin-button .c-button:hover {
    background: #312f2f;
    transition: 0.01s;
    color: blueviolet;
}

/*
Admin
 */

/*
Lab6
 */

#main-lab6 {
    padding-top: 70px;
    min-height: 700px;
    position: relative;
    background: #ded5d5
}


#lab6-button .c-button {
    margin-bottom: 1px;
    border-radius: 36px;
    list-style-type: none;
    background: #1a1a1a;
    font-size: 30px;
    text-align: center;
    display: block;
    width: 100%;
    color: blueviolet;
    padding: 20px;


}
#lab6-button .c-button:hover {
    background: #312f2f;
    transition: 0.01s;
    color: blueviolet;
}

#lab6-button ul {
    margin-bottom: 1px;
    border-radius: 36px;
    list-style-type: none;
    background: #1a1a1a;
    font-size: 30px;
    padding: 0;
}

#lab6-button ul li{
    text-align: center;
}

#lab6-button ul a{
    display: block;
    color: blueviolet;
    padding: 20px;
    border-radius: 36px;
}


#lab6-button ul a:hover {
    background: #312f2f;
    transition: 0.01s;
    color: blueviolet;
}

/*
Lab6
 */


/*
Respondent
 */

#main-result {
    padding-top: 70px;
    min-height: 700px;
    position: relative;
    background: #ded5d5
}

#result-button .c-button {
    margin-bottom: 1px;
    border-radius: 36px;
    list-style-type: none;
    background: #1a1a1a;
    font-size: 30px;
    text-align: center;
    display: block;
    width: 100%;
    color: blueviolet;
    padding: 20px;


}
#result-button .c-button:hover {

    background: #312f2f;
    transition: 0.01s;
    color: blueviolet;
}

/*
Respondent
 */


/*
PVK
 */

#main-pvk {
    min-height: 700px;
}

#profession-list {
    position: relative;
}

#profession-button {
    padding-top: 10px;

}

#profession-button2 {
    padding-top: 10px;

}

#profession-button2 a{
    color: white;
}

#profession-button22 {
    position: absolute;
    padding: 0;
    bottom: 1px;
}

#profession-button22 button a {
    color: white;
}


/*
PVK
 */